* {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

header {
  background-color: black;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 100vh;
}

.x-mini-wins, .o-mini-wins {
  /* border: 1px solid orange; */
  overflow: auto;
  display: grid;
  /* height: 100%; */
  justify-items: center;
  align-items: start;
  grid-gap: 2%
}


.game {
  display: grid;
  grid-template-rows: 10vh 90vh;
  /* border: 1px solid red; */
  justify-items: center;
  font-weight: bold;
}

.game-board {
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2%;
  width: 40vh;
  height: 40vh;
  color: black;
  background-color: red;
  font-size: 10vh;
}

.space {
  align-self: stretch;
  background-color: white;
}

.mini-game-board {
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2%;
  width: 10vh;
  height: 10vh;
  color: black;
  background-color: red;
  font-size: 2vh
}
