* {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

header {
  background-color: black;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 100vh;
}


.game {
  display: grid;
  grid-template-rows: 10vh 90vh;
  /* border: 1px solid red; */
  justify-items: center;
  font-weight: bold;
}

.game-board {
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2%;
  width: 40vh;
  height: 40vh;
  color: white;
  background-color: red;
}

.marked {
  color: black;
}

.space {
  align-self: stretch;
  font-size: 10vh;
  background-color: white;
}

.x-scores, .o-scores {
  /* border: 1px solid orange; */
  overflow: auto;
}
