* {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

header {
  background-color: black;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 100vh;
}


.game {
  display: grid;
  /* place-self: center; */
  border: 1px solid red;
  /* height: 100% */
}
.gameBoard {
  border: 1px solid green;
  display: grid;
  grid-template-columns: 20vh 20vh 20vh;
  grid-template-rows: 20vh 20vh 20vh;
  grid-gap: 2%;
  place-self: center;
  width: 90%;
  height: 90%;
}

.space {
  border: 1px solid blue;
  height: 10%;
  width: 10%;
}
